In [1]:
import pandas as pd
from sqlalchemy import create_engine

# DENVER CRIME DATA ETL Project

In [2]:
# Create path to data sources downloaded from Kaggle

crime_file = "../ETLResources/crime.csv"
offense_codes_file = "../ETLResources/offense_codes.csv"

# EXTRACT 

## Read In Data Sources as Pandas DataFrames

In [3]:
# read in data source 1 and display 

crime_df = pd.read_csv(crime_file)
crime_df.head()

,INCIDENT_ID,OFFENSE_ID,OFFENSE_CODE,OFFENSE_CODE_EXTENSION,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,FIRST_OCCURRENCE_DATE,LAST_OCCURRENCE_DATE,REPORTED_DATE,INCIDENT_ADDRESS,GEO_X,GEO_Y,GEO_LON,GEO_LAT,DISTRICT_ID,PRECINCT_ID,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
0,2016376978,2016376978521300,5213,0,weapon-unlawful-discharge-of,all-other-crimes,6/15/2016 11:31:00 PM,NaN,6/15/2016 11:31:00 PM,NaN,3193983.0,1707251.0,-104.809881,39.773188,5,521,montbello,1,0
1,20186000994,20186000994239900,2399,0,theft-other,larceny,10/11/2017 12:30:00 PM,10/11/2017 4:55:00 PM,1/29/2018 5:53:00 PM,NaN,3201943.0,1711852.0,-104.781434,39.785649,5,522,gateway-green-valley-ranch,1,0
2,20166003953,20166003953230500,2305,0,theft-items-from-vehicle,theft-from-motor-vehicle,3/4/2016 8:00:00 PM,4/25/2016 8:00:00 AM,4/26/2016 9:02:00 PM,2932 S JOSEPHINE ST,3152762.0,1667011.0,-104.957381,39.663490,3,314,wellshire,1,0
3,201872333,201872333239900,2399,0,theft-other,larceny,1/30/2018 7:20:00 PM,NaN,1/30/2018 10:29:00 PM,705 S COLORADO BLVD,3157162.0,1681320.0,-104.941440,39.702698,3,312,belcaro,1,0
4,2017411405,2017411405230300,2303,0,theft-shoplift,larceny,6/22/2017 8:53:00 PM,NaN,6/23/2017 4:09:00 PM,2810 E 1ST AVE,3153211.0,1686545.0,-104.955370,39.717107,3,311,cherry-creek,1,0

In [4]:
# read in data source 2 and display 

offense_codes_df = pd.read_csv(offense_codes_file)
offense_codes_df.head()

,OFFENSE_CODE,OFFENSE_CODE_EXTENSION,OFFENSE_TYPE_ID,OFFENSE_TYPE_NAME,OFFENSE_CATEGORY_ID,OFFENSE_CATEGORY_NAME,IS_CRIME,IS_TRAFFIC
0,2804,1,stolen-property-possession,Possession of stolen property,all-other-crimes,All Other Crimes,1,0
1,2804,2,fraud-possess-financial-device,Possession of a financial device,all-other-crimes,All Other Crimes,1,0
2,2901,0,damaged-prop-bus,Damaged business property,public-disorder,Public Disorder,1,0
3,2902,0,criminal-mischief-private,Criminal mischief to private property,public-disorder,Public Disorder,1,0
4,2903,0,criminal-mischief-public,Criminal mischief to public property,public-disorder,Public Disorder,1,0

# Transform

In [5]:
# Drop Columns from the crime dataframe

crime_df.drop(columns={'GEO_X', 'GEO_Y', 'GEO_LON', 'GEO_LAT', 'OFFENSE_TYPE_ID'})

,INCIDENT_ID,OFFENSE_ID,OFFENSE_CODE,OFFENSE_CODE_EXTENSION,OFFENSE_CATEGORY_ID,FIRST_OCCURRENCE_DATE,LAST_OCCURRENCE_DATE,REPORTED_DATE,INCIDENT_ADDRESS,DISTRICT_ID,PRECINCT_ID,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
0,2016376978,2016376978521300,5213,0,all-other-crimes,6/15/2016 11:31:00 PM,NaN,6/15/2016 11:31:00 PM,NaN,5,521,montbello,1,0
1,20186000994,20186000994239900,2399,0,larceny,10/11/2017 12:30:00 PM,10/11/2017 4:55:00 PM,1/29/2018 5:53:00 PM,NaN,5,522,gateway-green-valley-ranch,1,0
2,20166003953,20166003953230500,2305,0,theft-from-motor-vehicle,3/4/2016 8:00:00 PM,4/25/2016 8:00:00 AM,4/26/2016 9:02:00 PM,2932 S JOSEPHINE ST,3,314,wellshire,1,0
3,201872333,201872333239900,2399,0,larceny,1/30/2018 7:20:00 PM,NaN,1/30/2018 10:29:00 PM,705 S COLORADO BLVD,3,312,belcaro,1,0
4,2017411405,2017411405230300,2303,0,larceny,6/22/2017 8:53:00 PM,NaN,6/23/2017 4:09:00 PM,2810 E 1ST AVE,3,311,cherry-creek,1,0
5,201872837,201872837549900,5499,0,all-other-crimes,1/31/2018 12:44:00 AM,NaN,1/31/2018 1:29:00 AM,2100 BLOCK E 17TH AVE,6,622,city-park-west,1,0
6,20186001015,20186001015230400,2304,0,theft-from-motor-vehicle,6/1/2017 12:15:00 PM,1/26/2018 12:15:00 PM,1/26/2018 12:24:00 PM,995 N FEDERAL BLVD,1,122,villa-park,1,0
7,201870628,201870628570700,5707,0,all-other-crimes,1/30/2018 7:40:00 AM,NaN,1/30/2018 10:33:00 AM,E SPEER BLVD / N GRANT ST,3,311,speer,1,0
8,201870833,201870833540100,5401,0,traffic-accident,1/30/2018 9:10:00 AM,NaN,1/30/2018 9:17:00 AM,W 13TH AVE / N CHEROKEE ST,6,611,civic-center,0,1
9,20186001048,20186001048230500,2305,0,theft-from-motor-vehicle,1/31/2018 12:55:00 AM,1/31/2018 6:55:00 AM,1/31/2018 7:07:00 AM,2828 N ZUNI ST,1,113,highland,1,0
10,201872390,201872390357200,3572,0,drug-alcohol,1/30/2018 8:04:00 PM,NaN,1/30/2018 10:12:00 PM,E EVANS AVE / S GRAPE ST,3,323,goldsmith,1,0
11,20186001033,20186001033230400,2304,0,theft-from-motor-vehicle,1/28/2018 5:25:00 AM,1/30/2018 5:25:00 PM,1/30/2018 5:42:00 PM,1220 S INCA ST,4,422,ruby-hill,1,0
12,2016340553,2016340553230300,2303,0,larceny,5/31/2016 4:54:00 PM,NaN,5/31/2016 6:30:00 PM,1505 S COLORADO BLVD,3,312,cory-merrill,1,0
13,2017383968,2017383968240400,2404,0,auto-theft,2/24/2017 4:55:00 PM,5/24/2017 8:01:00 AM,6/12/2017 3:24:00 PM,2850 W 26TH AVE,1,121,jefferson-park,1,0
14,2016236602,2016236602230300,2303,0,larceny,4/16/2016 3:25:00 PM,NaN,4/16/2016 4:06:00 PM,950 S QUEBEC ST,3,321,windsor,1,0
15,20176004695,20176004695230500,2305,0,theft-from-motor-vehicle,5/28/2017 2:00:00 AM,5/28/2017 7:00:00 AM,5/28/2017 7:58:00 PM,3400 BLK N WYANDOT ST,1,113,highland,1,0
16,2017395809,2017395809240400,2404,0,auto-theft,6/16/2017 9:30:00 PM,6/17/2017 7:12:00 AM,6/17/2017 7:12:00 AM,6825 E ILIFF AVE,3,323,goldsmith,1,0
17,201869174,201869174570700,5707,0,all-other-crimes,1/29/2018 2:50:00 PM,NaN,1/29/2018 2:50:00 PM,10TH / COLFAX,1,123,lincoln-park,1,0
18,201869047,201869047260900,2609,0,white-collar-crime,1/4/2018 12:00:00 PM,1/28/2018 6:00:00 PM,1/29/2018 2:15:00 PM,803 S PEARL ST,3,312,washington-park-west,1,0
19,201871381,201871381544100,5441,0,traffic-accident,1/30/2018 12:38:00 PM,NaN,1/30/2018 12:38:00 PM,N HAVANA ST / I70 HWYWB,5,511,stapleton,0,1
20,201871171,201871171549900,5499,0,all-other-crimes,1/30/2018 11:27:00 AM,NaN,1/30/2018 12:00:00 PM,3900 BLK N PEORIA WAY,5,512,stapleton,1,0
21,201869050,201869050544100,5441,0,traffic-accident,1/29/2018 2:16:00 PM,NaN,1/29/2018 3:00:00 PM,E LOWRY BLVD / N YOSEMITE WAY,3,321,lowry-field,0,1
22,201872028,201872028540100,5401,0,traffic-accident,1/30/2018 3:45:00 PM,NaN,1/30/2018 5:13:00 PM,29TH ST / WELTON ST,2,211,five-points,0,1
23,201871362,201871362549900,5499,0,all-other-crimes,1/30/2018 12:30:00 PM,NaN,1/30/2018 1:09:00 PM,3200 BLOCK E 48TH AVE,2,212,elyria-swansea,1,0
24,201870800,201870800220300,2203,0,burglary,1/29/2018 9:30:00 PM,1/30/2018 8:30:00 AM,1/30/2018 8:57:00 AM,5770 E WARREN AVE,3,323,goldsmith,1,0
25,201871768,201871768279900,2799,0,white-collar-crime,10/30/2017 12:00:00 PM,12/21/2017 12:00:00 PM,1/30/2018 3:19:00 PM,7400 E HAMPDEN AVE,3,324,hampden-south,1,0
26,20188004580,20188004580131600,1316,0,public-disorder,1/30/2018 2:30:00 PM,NaN,1/30/2018 3:50:00 PM,8900 PENA BLVD,7,759,dia,1,0
27,201871234,201871234549900,5499,0,all-other-crimes,1/30/2018 11:50:00 AM,NaN,1/30/2018 12:51:00 PM,1600 BLOCK S BROADWAY ST,3,313,platt-park,1,0
28,2017294559,2017294559240400,2404,0,auto-theft,5/6/2017 12:00:00 AM,5/6/2017 8:30:00 AM,5/6/2017 9:48:00 AM,NaN,1,122,west-colfax,1,0
29,2016398281,2016398281570700,5707,0,all-other-crimes,6/12/2016 8:00:00 PM,6/14/2016 8:00:00 PM,6/24/2016 8:08:00 PM,5046 N AKRON ST,5,511,stapleton,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494461,2018857700,2018857700357200,3572,0,drug-alcohol,12/20/2018 10:24:00 PM,NaN,12/20/2018 11:48:00 PM,S FEDERAL BLVD / W CEDAR AVE,4,411,barnum,1,0
494462,2018853002,2018853002549900,5499,0,all-other-crimes,12/18/2018 7:36:00 PM,NaN,12/18/2018 7:36:00 PM,E ANDREWS DR / N FRASER WAY,5,521,montbello,1,0
494463,2018831464,2018831464131502,1315,2,aggravated-assault,12/9/2018 11:40:00 AM,NaN,12/9/2018 11:58:00 AM,3692 N FAIRFAX ST,2,221,northeast-park-hill,1,0
494464,20186012306,20186012306230500,2305,0,theft-from-motor-vehicle,12/19/2018 6:45:00 AM,12/19/2018 7:15:00 AM,12/19/2018 1:37:00 PM,2570 S DAYTON WAY,3,323,hampden,1,0
494465,2018848949,2018848949131300,1313,0,other-crimes-against-persons,12/17/2018 2:15:00 AM,NaN,12/17/2018 3:18:00 AM,401 16TH ST,6,611,cbd,1,0
494466,2018833780,2018833780540100,5401,0,traffic-accident,12/10/2018 12:50:00 PM,NaN,12/10/2018 12:54:00 PM,1400 BLK LITTLE RAVEN ST,6,612,union-station,0,1
494467,2018828431,2018828431299902,2999,2,public-disorder,12/8/2018 12:00:00 AM,12/8/2018 12:29:00 AM,12/8/2018 12:29:00 AM,4000 BLOCK E 9TH AVE,2,222,hale,1,0
494468,2018831730,2018831730544100,5441,0,traffic-accident,12/9/2018 2:20:00 PM,NaN,12/9/2018 3:16:00 PM,I25 HWYSB / W 23RD AVE,1,123,jefferson-park,0,1
494469,2018850308,2018850308230500,2305,0,theft-from-motor-vehicle,12/7/2018 4:30:00 PM,12/8/2018 8:15:00 AM,12/17/2018 4:01:00 PM,4900 BLK E 6TH AVE,2,222,hale,1,0
494470,2018840372,2018840372299900,2999,0,public-disorder,12/13/2018 6:15:00 AM,NaN,12/13/2018 8:15:00 AM,757 E 20TH AVE,6,621,five-points,1,0
494471,20186011951,20186011951230500,2305,0,theft-from-motor-vehicle,12/7/2018 9:20:00 PM,12/7/2018 9:25:00 PM,12/7/2018 11:16:00 PM,3739 N DOWNING ST,2,211,five-points,1,0
494472,2018830009,2018830009544100,5441,0,traffic-accident,12/8/2018 6:19:00 PM,NaN,12/8/2018 6:41:00 PM,N BROADWAY ST / 24TH ST,6,612,five-points,0,1
494473,20186012075,20186012075230500,2305,0,theft-from-motor-vehicle,12/9/2018 8:00:00 PM,12/10/2018 8:00:00 AM,12/12/2018 8:54:00 AM,3500 ROCKMONT DR,1,113,highland,1,0
494474,2018852153,2018852153544100,5441,0,traffic-accident,12/18/2018 12:55:00 PM,NaN,12/19/2018 9:13:00 AM,N CENTRAL PARK BLVD / E 46TH AVE,5,511,stapleton,0,1
494475,2018839386,2018839386299901,2999,1,public-disorder,12/12/2018 5:00:00 PM,NaN,12/12/2018 6:44:00 PM,2940 CALIFORNIA ST,2,211,five-points,1,0
494476,2018849302,2018849302549900,5499,0,all-other-crimes,12/17/2018 8:19:00 AM,NaN,12/17/2018 8:49:00 AM,NaN,4,421,mar-lee,1,0
494477,2018844859,2018844859240400,2404,0,auto-theft,12/14/2018 11:32:00 PM,NaN,12/15/2018 12:10:00 AM,1377 S JASON ST,4,422,ruby-hill,1,0
494478,20186012154,20186012154230500,2305,0,theft-from-motor-vehicle,12/13/2018 8:25:00 PM,12/14/2018 8:00:00 AM,12/14/2018 8:39:00 PM,5083 N OSCEOLA ST,1,111,regis,1,0
494479,2018835201,2018835201549900,5499,0,all-other-crimes,12/11/2018 3:20:00 AM,NaN,12/11/2018 4:01:00 AM,I25 HWY NB / 20TH ST,6,612,five-points,1,0
494480,2018841426,2018841426544100,5441,0,traffic-accident,12/13/2018 3:17:00 PM,NaN,12/13/2018 4:45:00 PM,I25 HWYNB / W 23RD AVE,1,123,jefferson-park,0,1
494481,2018852133,2018852133544400,5444,0,all-other-crimes,12/18/2018 1:00:00 PM,NaN,12/18/2018 1:51:00 PM,E 51ST AVE / N UVALDA ST,5,521,montbello,1,0
494482,2018851005,2018851005480300,4803,0,all-other-crimes,12/17/2018 10:45:00 PM,NaN,12/18/2018 12:23:00 AM,800 BLOCK E 52ND AVE,1,112,globeville,1,0
494483,2018833650,2018833650239900,2399,0,larceny,12/8/2018 4:05:00 PM,12/8/2018 5:43:00 PM,12/10/2018 12:01:00 PM,1510 S HOLLY ST,3,322,virginia-village,1,0
494484,2018833372,2018833372220200,2202,0,burglary,12/8/2018 8:00:00 AM,12/10/2018 10:00:00 AM,12/10/2018 12:37:00 PM,1477 N UTICA ST,1,122,west-colfax,1,0
494485,2018831574,2018831574540100,5401,0,traffic-accident,12/9/2018 12:32:00 PM,NaN,12/9/2018 12:32:00 PM,3300 BLOCK W COLFAX AVE,1,122,west-colfax,0,1
494486,2018836985,2018836985549900,5499,0,all-other-crimes,12/11/2018 6:06:00 PM,NaN,12/11/2018 6:22:00 PM,3300 BLOCK E COLFAX AVE,2,213,congress-park,1,0
494487,20188058998,20188058998260201,2602,1,white-collar-crime,11/19/2018 4:00:00 PM,NaN,12/14/2018 3:56:00 PM,24890 E 78TH AVE,7,759,dia,1,0
494488,2018848306,2018848306544100,5441,0,traffic-accident,12/16/2018 5:37:00 PM,NaN,12/16/2018 6:43:00 PM,E IOWA AVE / S COLORADO BLVD,3,312,cory-merrill,0,1
494489,2018831000,2018831000549900,5499,0,all-other-crimes,12/9/2018 5:21:00 AM,NaN,12/9/2018 6:15:00 AM,1400 BLOCK N IRVING ST,1,122,west-colfax,1,0
494490,20186012081,20186012081230400,2304,0,theft-from-motor-vehicle,12/12/2018 4:35:00 PM,12/12/2018 4:35:00 PM,12/12/2018 4:42:00 PM,4300 E EVANS AVE,3,314,university-hills,1,0

In [6]:
# Concatanate and combine columns in offense_codes dataframe

offense_codes_df['OFFENSE_CODE_EXTENSION']=offense_codes_df['OFFENSE_CODE']\
.map(str) + offense_codes_df['OFFENSE_CODE_EXTENSION'].map(str)

# Drop Columns from the offense_codes dataframe
offense_codes_df.drop(columns={'OFFENSE_CODE','OFFENSE_TYPE_ID', 'OFFENSE_CATEGORY_ID'}, inplace=True)
offense_codes_df.head()

,OFFENSE_CODE_EXTENSION,OFFENSE_TYPE_NAME,OFFENSE_CATEGORY_NAME,IS_CRIME,IS_TRAFFIC
0,28041,Possession of stolen property,All Other Crimes,1,0
1,28042,Possession of a financial device,All Other Crimes,1,0
2,29010,Damaged business property,Public Disorder,1,0
3,29020,Criminal mischief to private property,Public Disorder,1,0
4,29030,Criminal mischief to public property,Public Disorder,1,0

### Transform Datasets before loading into postgres

### From crime_df Three tables were prepared

### crime_table crime_time_table crime_place_table

In [7]:
# select columns for crime_table 

crime_table = crime_df[['INCIDENT_ID', 'OFFENSE_CODE', 'OFFENSE_CODE_EXTENSION', 'IS_CRIME', 'IS_TRAFFIC']].copy()

# concatanate offense_code and offense_code_extension columns 

crime_table['OFFENSE_CODE_EXTENSION'] = crime_table['OFFENSE_CODE'].map(str) + crime_table['OFFENSE_CODE_EXTENSION'].map(str)

In [8]:
# select columns for crime_time_table

crime_time_table = crime_df[['INCIDENT_ID', 'OFFENSE_ID', 'FIRST_OCCURRENCE_DATE', 'LAST_OCCURRENCE_DATE', 'REPORTED_DATE']].copy()

In [9]:
# select columns for crime_place_table

crime_place_table = crime_df[['INCIDENT_ID', 'OFFENSE_ID', 'INCIDENT_ADDRESS', 'NEIGHBORHOOD_ID']].copy()

# concatanate district and precinct columns

crime_place_table['DISTRICT_PRECINCT_ID'] = crime_df['DISTRICT_ID'].map(str) + crime_df['PRECINCT_ID'].map(str)

In [10]:
# rename CRIME_TABLE columns so that they match with our postgres database

crime_table.drop(columns={'OFFENSE_CODE'}, inplace=True)
crime_table.rename(columns={'INCIDENT_ID':'incident_id',
                            'OFFENSE_CODE_EXTENSION':'offense_code_ext',
                            'IS_CRIME':'is_crime',
                            'IS_TRAFFIC':'is_traffic'
    
}, inplace=True)
crime_table.head()

# Final Crime Table

   incident_id offense_code_ext  is_crime  is_traffic
0   2016376978            52130         1           0
1  20186000994            23990         1           0
2  20166003953            23050         1           0
3    201872333            23990         1           0
4   2017411405            23030         1           0

In [11]:
# rename CRIME_TIME_TABLE columns so that they match with our postgres database

crime_time_table.rename(columns={'INCIDENT_ID':'incident_id', 
                                 'OFFENSE_ID':'offense_id',
                                 'FIRST_OCCURRENCE_DATE':'first_occurrence',
                                 'LAST_OCCURRENCE_DATE':'last_occurrence',
                                 'REPORTED_DATE':'reported_date'
                                }, inplace=True)

crime_time_table.head()

# Final crime_time_table

,incident_id,offense_id,first_occurrence,last_occurrence,reported_date
0,2016376978,2016376978521300,6/15/2016 11:31:00 PM,NaN,6/15/2016 11:31:00 PM
1,20186000994,20186000994239900,10/11/2017 12:30:00 PM,10/11/2017 4:55:00 PM,1/29/2018 5:53:00 PM
2,20166003953,20166003953230500,3/4/2016 8:00:00 PM,4/25/2016 8:00:00 AM,4/26/2016 9:02:00 PM
3,201872333,201872333239900,1/30/2018 7:20:00 PM,NaN,1/30/2018 10:29:00 PM
4,2017411405,2017411405230300,6/22/2017 8:53:00 PM,NaN,6/23/2017 4:09:00 PM

In [12]:
# rename CRIME_PLACE_TABLE columns so that they match with our postgres database

crime_place_table.rename(columns={'INCIDENT_ID':'incident_id',
                                  'OFFENSE_ID':'offense_id',
                                  'INCIDENT_ADDRESS':'address',
                                  'NEIGHBORHOOD_ID':'neighborhood',
                                  'DISTRICT_PRECINCT_ID':'district_precinct_id'
    
}, inplace=True)
crime_place_table.head()

# Final crime_place_table

,incident_id,offense_id,address,neighborhood,district_precinct_id
0,2016376978,2016376978521300,NaN,montbello,5521
1,20186000994,20186000994239900,NaN,gateway-green-valley-ranch,5522
2,20166003953,20166003953230500,2932 S JOSEPHINE ST,wellshire,3314
3,201872333,201872333239900,705 S COLORADO BLVD,belcaro,3312
4,2017411405,2017411405230300,2810 E 1ST AVE,cherry-creek,3311

In [13]:
# rename OFFENSE_CODES_DF columns so that they match with postgres

offense_codes_df.rename(columns={'OFFENSE_CODE_EXTENSION':'offense_code_ext',
                                 'OFFENSE_TYPE_NAME':'offense_name',
                                 'OFFENSE_CATEGORY_NAME':'offense_category',
                                 'IS_CRIME':'is_crime',
                                 'IS_TRAFFIC':'is_traffic'
    
}, inplace=True)
offense_codes_df.head()

# final offense_codes_df / table

,offense_code_ext,offense_name,offense_category,is_crime,is_traffic
0,28041,Possession of stolen property,All Other Crimes,1,0
1,28042,Possession of a financial device,All Other Crimes,1,0
2,29010,Damaged business property,Public Disorder,1,0
3,29020,Criminal mischief to private property,Public Disorder,1,0
4,29030,Criminal mischief to public property,Public Disorder,1,0

# LOAD ( AND CONFIRM )

In [14]:
# Connecting to postgres using remote authentication 
# Connecting to 'denver_crime_db' database

rds_connection_string = "postgres:postgres@localhost:5432/denver_crime_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [15]:
# retrieve postgres table names

engine.table_names()

['crime_time_table', 'crime_place_table', 'offense_codes', 'crime_table']

In [ ]:
# Load crime_time_table into postgressql relational database table
crime_time_table.to_sql(name='crime_time_table', con=engine, if_exists='append', index=False)

In [ ]:
# Load crime_place_table into postgressql relational database table

crime_place_table.to_sql(name='crime_place_table', con=engine, if_exists='append', index=False)

In [60]:
# Load offense_codes_df into postgressql relational database table

offense_codes_df.to_sql(name='offense_codes', con=engine, if_exists='append', index=False)

In [74]:
# Load crime_table into postgressql relational database table

crime_table.to_sql(name='crime_table', con=engine, if_exists='append', index=False)

In [16]:
# Query database table crime_table and display

pd.read_sql_query('select * from crime_table', con=engine).head()

   incident_id  offense_code_ext  is_crime  is_traffic
0   2016376978             52130         1           0
1  20186000994             23990         1           0
2  20166003953             23050         1           0
3    201872333             23990         1           0
4   2017411405             23030         1           0

In [17]:
# Query database table crime_time_table and display

pd.read_sql_query('select * from crime_time_table', con=engine).head()

,incident_id,offense_id,first_occurrence,last_occurrence,reported_date
0,2016376978,2016376978521300,2016-06-15 23:31:00,NaT,2016-06-15 23:31:00
1,20186000994,20186000994239900,2017-10-11 12:30:00,2017-10-11 16:55:00,2018-01-29 17:53:00
2,20166003953,20166003953230500,2016-03-04 20:00:00,2016-04-25 08:00:00,2016-04-26 21:02:00
3,201872333,201872333239900,2018-01-30 19:20:00,NaT,2018-01-30 22:29:00
4,2017411405,2017411405230300,2017-06-22 20:53:00,NaT,2017-06-23 16:09:00

In [18]:
# Query database table crime_place_table and display

pd.read_sql_query('select * from crime_place_table', con=engine).head()

,incident_id,offense_id,address,neighborhood,district_precinct_id
0,2016376978,2016376978521300,None,montbello,5521
1,20186000994,20186000994239900,None,gateway-green-valley-ranch,5522
2,20166003953,20166003953230500,2932 S JOSEPHINE ST,wellshire,3314
3,201872333,201872333239900,705 S COLORADO BLVD,belcaro,3312
4,2017411405,2017411405230300,2810 E 1ST AVE,cherry-creek,3311

In [19]:
# Query database table offense_codes and display

pd.read_sql_query('select * from offense_codes', con=engine).head()

,offense_code_ext,offense_name,offense_category,is_crime,is_traffic
0,28041,Possession of stolen property,All Other Crimes,1,0
1,28042,Possession of a financial device,All Other Crimes,1,0
2,29010,Damaged business property,Public Disorder,1,0
3,29020,Criminal mischief to private property,Public Disorder,1,0
4,29030,Criminal mischief to public property,Public Disorder,1,0